@import "tailwindcss";

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideInFromLeft 700ms ease-in-out forwards;
}